HELP.md
.DS_Store
.gradle
.env

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/pipeline.gdsl

**/src/main/generated
**/src/test/generated_tests

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
!docs/.vscode/

### Jenkins ###
**/jenkins/.gdsl

### Docker ###
mailhog-data/
app-data/
/docker-compose.yml

### Working Directories ###
data/
logs/
/financial-reports/
/keys/
!**/src/main/**/data/
!**/src/test/**/data/
!**/src/main/**/logs/
!**/src/test/**/logs/
