version: "3.8"
services:
  app:
    image: @DOCKER_REPOSITORY_NAME@:@DOCKER_TAG@
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${PAYPAL_SPRING_PROFILE_ACTIVE:-prod}
      - PAYPAL_BRAINTREE_REPORT_ENVIRONMENT
      - PWD=/workspace
    env_file:
      - '.env'
    volumes:
          - ${PWD}/keys:/home/keys
          - ${PWD}/financial-reports:/home/reports
