version: "3.8"
services:
  app:
    image: @DOCKER_IMAGE_NAME@:@DOCKER_TAG@
    restart: always
    ports:
      - "8080:8080"
    environment:
      - PAYPAL_BRAINTREE_REPORT_ENVIRONMENT
    env_file:
      - ".env"
    volumes:
      - ./keys:/home/keys
      - ./financial-reports:/home/financial-reports
